.slider {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-wrapper {
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider-line {

    display: flex;
    position: relative;
}
.slider .item img {
    width: 100%;
}
.slider .item {
    display: flex;
    align-items: center;
    width: 800px;
    height: 600px;
    flex-shrink: 0;
}
.slider .item.opened {
    display: flex;
    align-items: center;
}
.slider .btn {
    position: absolute;
    top: calc(300px - 15px);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider .btn.prev-btn {
    left: -50px;
}
.slider .btn.next-btn {
    right: -50px;
}
.slider .btn.prev-btn.left-bndr {
    opacity: 0.5;
    cursor: default;
}
.slider .btn.next-btn.right-bndr {
    opacity: 0.5;
    cursor: default;
}
.slider .nav-dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    bottom: -15px;
    color: rgba(100, 100, 100, 0.897);
    cursor: pointer;
    font-size: 12px;
}
.slider .nav-dots .dot:hover {
    transition: 0.3s;
    color: rgb(56, 56, 56);    
}
.slider .nav-dots .dot.active {
    color: black;
}

